.new_user{
  position: absolute;
  left: 440px;
  top:250px;
  color: aliceblue;
  font-weight: bold;
}

.form{
  width:400px ;
  height: 40px;
  margin:10px 0 0 0; 
  background-color:  wheat;
  border-radius: 10px;
}